# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store

.txt

# Dataset descargado
fashion_mnist_images/
fashion_mnist_images.zip